# Mine sprog er primært Java, JavaScript og C#.
# Jeg foretrækker at du ikke ændrer i min kode uden at jeg siger god for det.
# EditorConfig hjælper med at holde en ensartet kodestil
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
